rasa1/.rasa/*
rasa1/models/*
rasa-es/.rasa/*
rasa-es/models/*
rasa-es-fallback/.rasa/*
rasa-es-fallback/models/*
rasa-es-autores/.rasa/*
rasa-es-autores/models/*
rasa-es-autores-id/.rasa/*
rasa-es-autores-id/models/*
rasa-es-entities/.rasa/*
rasa-es-entities/models/*
rasa-en-kg
